<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maps</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        #map {
            height: 600px;
            width: 100%;
        }

        .search-container {
            margin-bottom: 0px;
            padding: 5px;
            background: #f9f9f9;
            border-radius: 5px;
            }

        #suggestions {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #suggestions li {
            padding: 5px;
            cursor: pointer;
        }

        #suggestions li:hover {
            background-color: #e0e0e0;
        }

        .museum-photo {
            display: block;
            margin: 0 auto;
            width: 100px;
            height: auto;
        }

        h1 {
            background-image: url('../static/bgmaps.png');
            background-size: cover;
            color:hwb(30 0% 26%);
            text-align: center;
            padding: 40px 0;
            font-size: 70px;
            font-style: italic;
            margin: 0 0 0px 0;
        }

        nav {
            margin: 10px 0;
            text-align: center;
        }

        nav a {
            display: inline-block;
            margin: 0 10px;
            padding: 15px 25px;
            font-size: 20px;
            color: rgb(255, 255, 255);
            background-color: #bb6305;
            border-radius: 5px;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }

        nav a:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <h1>Peta Persebaran Museum Di Kabupaten Kota Bandung </h1>
    <div class="search-container">
        <input type="text" id="search" placeholder="Search for museums..." />
        <ul id="suggestions"></ul>
    </div>
    <div id="map"></div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var map = L.map('map').setView([-6.973634, 107.634745], 13.5);
            


            L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
                maxZoom: 50,
                attribution: '© Esri, Maxar, Earthstar Geographics, and the GIS user community'
            }).addTo(map);

            var museums = [
                // { name: "Museum Barli", coords: [-6.878006331628735, 107.58751555995298], address: "Jl. Prof. Dr. Sutami No. 91", photo: "../static/barli.jpg" },
                // { name: "Museum Kebudayaan Tionghoa", coords: [-6.921508710665503, 107.57737571762448], address: "Jl. Nana Rohana No. 37", photo: "../static/tionghoa.jpg" },
                // { name: "Museum 3D", coords: [-6.851344353299782, 107.59614722844145], address: "Jl. Dr. Setiabudi", photo: "../static/preager.jpg" },
                // { name: "Museum Preanger", coords: [-6.920265478700762, 107.61183338639137], address: "Jl. Asia Afrika No. 81", photo: "../static/preager.jpg" },
                // { name: "Museum Kota Bandung", coords: [-6.909695471226114, 107.60948860934798], address: "Jl. Aceh No. 47", photo: "../static/download.jpg" },
                // { name: "Museum Mandala Wangsit Siliwangi", coords: [-6.917080525954087, 107.61115542653945], address: "Jl. Lembong No. 39", photo: "../static/mandala.jpg" },
                // { name: "Museum Sri Baduga", coords: [-6.93732398447358, 107.60344538051278], address: "Jl. BKR No. 185", photo: "../static/sribaduga.jpeg" },
                // { name: "Museum Geologi Bandung", coords: [-6.900535124081027, 107.62153039770357], address: "Jl. Diponegoro No. 57", photo: "../static/Geologi.jpg" },
                // { name: "Museum Gedung Sate", coords: [-6.902372466815933, 107.61913113236142], address: "Jl. Diponegoro No. 22", photo: "../static/sate.jpg" },
                // { name: "Museum Konferensi Asia Afrika", coords: [-6.9211198358536885, 107.60962821119725], address: "Jl. Asia Afrika No. 65", photo: "../static/asia.jpg" },
                // { name: "Museum Pos Indonesia", coords: [-6.901837820239344, 107.61964733633437], address: "Jl. Cilaki No. 73", photo: "../static/pos.jpg" },
                // { name: "Museum Lapas Banceuy", coords: [-6.919421703235185, 107.60712164830913], address: "Jl. Banceuy", photo: "../static/lapas.jpg" },
                // { name: "Museum Mainan", coords: [-6.919864408880328, 107.61773667714465], address: "X", photo: "../static/mainan.jpg" },
                // { name: "Museum Virajati Seskoad", coords: [-6.926871860487284, 107.62827421577546], address: "Jl. Gatot Subroto No. 96", photo: "../static/virajati.jpg" },
                // { name: "Museum Nike Ardilla", coords: [-6.940340264022904, 107.67245224461121], address: "Kompleks Arya Graha, Jl. Aria Utama No. 5", photo: "../static/nike.jpg" },
                // { name: "Hall of Fame Jawa Barat - Panggung Inohong", coords: [-6.935498513632048, 107.66234543296689], address: "Bapusipda", photo: "../static/hall.jpg" },
                // { name: "Museum Pendidikan Nasional", coords: [-6.859711198823873, 107.59408308693924], address: "Jl. Dr. Setiabudi No. 225", photo: "../static/pendidikan.jpg" },
                // { name: "Gedung Indonesia Menggugat", coords: [-6.913361754428878, 107.60806054646004], address: "Bukan ini bre, coba lagi", photo: "../static/menggugat.JPG" },
                // { name: "Museum Perjuangan Rakyat Jawa Barat", coords: [-6.893171736717222, 107.61853520228203], address: "Nyariin apa mas???", photo: "../static/perjuangan.jpg" },
                // { name: "Museum Bumi Pakarang Sasuhunan", coords: [-6.9076012656974015, 107.67903222422584], address: "Jl. Pinus Galuh I No. 5", photo: "../static/pakarangan.jpg" },
                // { name: "Museum Bio Farma", coords: [-6.899240196909223, 107.59985559488574], address: "Jl. Pasteur No. 28", photo: "../static/biofarma.jpg" },
                // { name: "Museum Bio Farma", coords: [-6.81234, 107.59985559488574], address: "Jl. Pasteur No. 28", photo: "../static/biofarma.jpg" },
                // { name: "Museum Bio Farma", coords: [-6.89333309223, 107.59985559488574], address: "Jl. Pasteur No. 28", photo: "../static/biofarma.jpg" },
                // { name: "Museum Bio Farma", coords: [-6.8456696909223, 107.59985559488574], address: "Jl. Pasteur No. 28", photo: "../static/biofarma.jpg" },
                // { name: "Museum Bio Farma", coords: [-6.8879909223, 107.59985559488574], address: "Jl. Pasteur No. 28", photo: "../static/biofarma.jpg" },
                // { name: "Museum Bio Farma", coords: [-6.8992345432223, 107.59985559488574], address: "Jl. Pasteur No. 28", photo: "../static/biofarma.jpg" },
                // { name: "Museum Bio Farma", coords: [-6.973969, 107.630252], address: "Jl. Pasteur No. 28", photo: "../static/biofarma.jpg" },
                // { name: "Museum Bio Farma", coords: [-6.97125, 107.630252], address: "Jl. Pasteur No. 28", photo: "../static/biofarma.jpg" },
                // { name: "Museum Bio Farma", coords: [-6.975555, 107.630252], address: "Jl. Pasteur No. 28", photo: "../static/biofarma.jpg" },
                // { name: "Museum Bio Farma", coords: [-6.976789, 107.630252], address: "Jl. Pasteur No. 28", photo: "../static/biofarma.jpg" },
                // { name: "Museum Bio Farma", coords: [-6.979999, 107.630252], address: "Jl. Pasteur No. 28", photo: "../static/biofarma.jpg" },
                // { name: "Museum Bio Farma", coords: [-6.971234618745, 107.630252], address: "Jl. Pasteur No. 28", photo: "../static/biofarma.jpg" },
                // { name: "Museum Bio Farma", coords: [-6.973969, 107.630252], address: "Jl. Pasteur No. 28", photo: "../static/biofarma.jpg" },
                // { name: "Museum Bio Farma", coords: [-6.973969, 107.630252], address: "Jl. Pasteur No. 28", photo: "../static/biofarma.jpg" },
                // { name: "Museum Bio Farma", coords: [-6.973969, 107.630252], address: "Jl. Pasteur No. 28", photo: "../static/biofarma.jpg" },
                // { name: "Museum Bio Farma", coords: [-6.973969, 107.630252], address: "Jl. Pasteur No. 28", photo: "../static/biofarma.jpg" },
                // { name: "Museum Bio Farma", coords: [-6.973969, 107.630252], address: "Jl. Pasteur No. 28", photo: "../static/biofarma.jpg" },
                // { name: "Museum Bio Farma", coords: [-6.973969, 107.630252], address: "Jl. Pasteur No. 28", photo: "../static/biofarma.jpg" },
                // { name: "Museum Bio Farma", coords: [-6.973969, 107.630252], address: "Jl. Pasteur No. 28", photo: "../static/biofarma.jpg" },
                // { name: "Museum Bio Farma", coords: [-6.973969, 107.630252], address: "Jl. Pasteur No. 28", photo: "../static/biofarma.jpg" },
                // { name: "Museum Bio Farma", coords: [-6.973969, 107.630252], address: "Jl. Pasteur No. 28", photo: "../static/biofarma.jpg" },
                // { name: "Museum Bio Farma", coords: [-6.973969, 107.630252], address: "Jl. Pasteur No. 28", photo: "../static/biofarma.jpg" },
                // { name: "NoTn33Tdb4IY", coords: [-6.95134, 107.5464663027] },
                { name: "NdYCMCWx5N45lVL", coords: [-6.92546, 107.63564246019] },
                { name: "6YBAK7SUTw9oo0dEk", coords: [-6.87687, 107.630164366] },
                { name: "hwYZUv9HcaQM32", coords: [-6.971235, 107.6334623633030] },
                { name: "WK4pVkWy84", coords: [-6.9646345346, 107.63024574575758] },
                { name: "dZE9OhQ2Jx4GdZf", coords: [-6.94564664, 107.6347454643032] },
                { name: "rCwHbYiiSdg", coords: [-6.975646346645, 107.63464563446029] },
                { name: "2sBwwToluM2q4aUnw10", coords: [-6.9456223462326523, 107.63456453634027] },
                { name: "lfhpm2IrLjVGE2bjq", coords: [-6.23623466463, 107.63045634643531] },
                { name: "PXdLDEvCkJbQ", coords: [-6.346232336326, 107.63340375673] },
                { name: "U94d5Bjyby", coords: [-6.4526236236236, 107.6357645737034] },
                { name: "2yQB6yU5slpq9Ptzj", coords: [-6.2362362623, 107.645633025] },
                { name: "quWDDuih4jkkpuuLLO", coords: [-6.3462462462, 107.6847353031] },
                { name: "EFGn8zMm4C", coords: [-4.35235255, 109.543456363032] },
                { name: "xQ4zL8vR6n", coords: [-7.35234923, 110.543456982541] },
                { name: "pJ7tNs5qW2", coords: [-3.35235571, 111.543457124789] },
                { name: "aK2uRv3xB1", coords: [-6.23414242, 107.543456891231] },
                { name: "bF9lYr8sP4", coords: [-6.252565464, 129.543456503812] },
                { name: "vJ5rNc6pT7", coords: [-6.56575756958, 113.543457324095] },
                { name: "qH6sLb2yD0", coords: [-6.343564757, 112.543456742897] },
                { name: "zL3rMd7vU9", coords: [-6.88797, 107.543457125487] },
                { name: "wK8fNz9pC1", coords: [-6.6658797697988765, 107.543456817623] },
                { name: "yF1rXv6jW4", coords: [-6.45756787, 107.543457230487] },
                { name: "uT9zOc3rN5", coords: [-6.9867, 107.543456940327] },
                { name: "bQ9rTz7vR3", coords: [-6.97305, 107.63245] },
                { name: "xK2uQw3pD7", coords: [-6.97312, 107.63239] },
                { name: "rJ7oYn5zW8", coords: [-6.97309, 107.63241] },
                { name: "uP8vRt4nF2", coords: [-6.97315, 107.63244] },
                { name: "qL5tMn6cB1", coords: [-6.97313, 107.63246] },
                { name: "vN3yXw9rK4", coords: [-6.97308, 107.63242] },
                { name: "tW1lYr2uD5", coords: [-6.97310, 107.63240] },
                { name: "kP6xNf7zL0", coords: [-6.97311, 107.63243] },
                { name: "jL4yKt9bQ3", coords: [-6.97314, 107.63247] },
                { name: "mV5zQp8rW1", coords: [-6.97307, 107.63248] },
                { name: "aB7xVt9nR5", coords: [-6.97390, 107.63350] },
                { name: "yL2uPw4rD8", coords: [-6.97420, 107.63100] },
                { name: "pJ6tYn5qW2", coords: [-6.97250, 107.63400] },
                { name: "vT8rVs6bF7", coords: [-6.97530, 107.63050] },
                { name: "zM9yXt3cL0", coords: [-6.97180, 107.63370] },
                { name: "xN4yKw7rJ3", coords: [-6.97480, 107.63200] },
                { name: "tW5lYb2uF9", coords: [-6.97300, 107.63520] },
                { name: "rP6xNf8zL2", coords: [-6.97280, 107.63150] },
                { name: "qL3tWt9bR1", coords: [-6.97340, 107.63450] },
                { name: "wK9zQp5rL6", coords: [-6.97400, 107.63020] },
                { name: "R8b5Uq7L3Z", coords: [-6.97200, 107.62600] },
                { name: "F2t9Wk1M6P", coords: [-6.97350, 107.62750] },
                { name: "V4x6Jb9N1H", coords: [-6.97050, 107.62850] },
                { name: "L7q8Rz2P5D", coords: [-6.97150, 107.62500] },
                { name: "H3n6Yv7T2Q", coords: [-6.97250, 107.62450] },
                { name: "A1s9Jk7L4Z", coords: [-6.97500, 107.63000] },
                { name: "B2n8Wl3M5Q", coords: [-6.97550, 107.62950] },
                { name: "C3p7Xy4R6J", coords: [-6.97600, 107.62900] },
                { name: "D4r6Yb5T7K", coords: [-6.97650, 107.62850] },
                { name: "E5t8Vn6U9L", coords: [-6.97700, 107.62800] },
                { name: "F6u9Xy7T1L", coords: [-6.97750, 107.62750] },
                { name: "G7v0Wl8M2Q", coords: [-6.97800, 107.62700] },
                { name: "H8w1Yb9N3J", coords: [-6.97850, 107.62650] },
                { name: "I9x2Zy0T4K", coords: [-6.97900, 107.62600] },
                { name: "J0y3Wl1U5L", coords: [-6.97950, 107.62550] },
                { name: "K1a4Jk8L7M", coords: [-6.97450, 107.63050] },
                { name: "L2b5Wl9M8N", coords: [-6.97500, 107.63100] },
                { name: "M3c6Xy0N9O", coords: [-6.97550, 107.63150] },
                { name: "N4d7Yb1P0P", coords: [-6.97600, 107.63200] },
                { name: "O5e8Vn2Q1Q", coords: [-6.97650, 107.63250] },
                { name: "P6f9Xy3R2R", coords: [-6.97700, 107.63300] },
                { name: "Q7g0Yb4S3S", coords: [-6.97750, 107.63350] },
                { name: "R8h1Wl5T4T", coords: [-6.97800, 107.63400] },
                { name: "S9i2Xy6U5U", coords: [-6.97850, 107.63450] },
                { name: "T0j3Yb7V6V", coords: [-6.97900, 107.63500] },
                { name: "U1k4Wl8W7W", coords: [-6.97950, 107.63550] },
                { name: "V2l5Xy9X8X", coords: [-6.98000, 107.63600] },
                { name: "W3m6Yb0Y9Y", coords: [-6.98050, 107.63650] },
                { name: "X4n7Wl1Z0Z", coords: [-6.98100, 107.63700] },
                { name: "Y5o8Xy2A1A", coords: [-6.98150, 107.63750] },
                { name: "Z6p9Yb3B2B", coords: [-6.98200, 107.63800] },
                { name: "A7q0Wl4C3C", coords: [-6.98250, 107.63850] },
                { name: "B8r1Xy5D4D", coords: [-6.98300, 107.63900] },
                { name: "C9s2Yb6E5E", coords: [-6.98350, 107.63950] },
                { name: "D0t3Wl7F6F", coords: [-6.98400, 107.64000] },
                { name: "E1u4Xy8G7G", coords: [-6.98450, 107.64050] }

            ];
            


            var markersLayer = new L.LayerGroup();
            map.addLayer(markersLayer);

            function addMarkers(filteredMuseums) {
                markersLayer.clearLayers();
                filteredMuseums.forEach(function (museum) {
                    var popupContent = "<b>" + museum.name + "</b><br>" + museum.address + "<br><img src='" + museum.photo + "' class='museum-photo' />";
                    var marker = L.marker(museum.coords)
                        .bindPopup(popupContent)
                        .addTo(markersLayer);
                });
            }

            addMarkers(museums);

            var searchInput = document.getElementById('search');
            var suggestionsList = document.getElementById('suggestions');

            searchInput.addEventListener('input', function () {
                var searchTerm = searchInput.value.toLowerCase();
                suggestionsList.innerHTML = '';
                if (searchTerm) {
                    var filteredMuseums = museums.filter(function (museum) {
                        return museum.name.toLowerCase().includes(searchTerm);
                    });
                    filteredMuseums.forEach(function (museum) {
                        var listItem = document.createElement('li');
                        listItem.textContent = museum.name;
                        listItem.addEventListener('click', function () {
                            map.setView(museum.coords, 20);
                            searchInput.value = museum.name;
                            suggestionsList.innerHTML = '';
                        });
                        suggestionsList.appendChild(listItem);
                    });
                }
                addMarkers(filteredMuseums);
            });
        });
    </script>
    <nav>
        <a href="/">Home</a> | 
        <a href="/about">About</a> | 
        <a href="/maps">Maps</a>
    </nav>
</body>

</html>
